projects/netbeans/RLF_Client/src/META-INF/wsdl/localhost_8084/RLF/Provider.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.provider.rlf.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.provider.rlf.org/" name="Provider">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.provider.rlf.org/" schemaLocation="http://localhost:8084/RLF/Provider?xsd=1" />
</xsd:schema>
</types>
<message name="getStatus">
<part name="parameters" element="tns:getStatus" />
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse" />
</message>
<message name="AuthException">
<part name="fault" element="tns:AuthException" />
</message>
<message name="ConnectionException">
<part name="fault" element="tns:ConnectionException" />
</message>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="logout">
<part name="parameters" element="tns:logout" />
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse" />
</message>
<message name="takeTools">
<part name="parameters" element="tns:takeTools" />
</message>
<message name="takeToolsResponse">
<part name="parameters" element="tns:takeToolsResponse" />
</message>
<message name="ToolException">
<part name="fault" element="tns:ToolException" />
</message>
<message name="FormatException">
<part name="fault" element="tns:FormatException" />
</message>
<message name="describeTools">
<part name="parameters" element="tns:describeTools" />
</message>
<message name="describeToolsResponse">
<part name="parameters" element="tns:describeToolsResponse" />
</message>
<portType name="Provider">
<operation name="getStatus">
<input wsam:Action="http://ws.provider.rlf.org/Provider/getStatusRequest" message="tns:getStatus" />
<output wsam:Action="http://ws.provider.rlf.org/Provider/getStatusResponse" message="tns:getStatusResponse" />
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ws.provider.rlf.org/Provider/getStatus/Fault/AuthException" />
<fault message="tns:ConnectionException" name="ConnectionException" wsam:Action="http://ws.provider.rlf.org/Provider/getStatus/Fault/ConnectionException" />
</operation>
<operation name="login">
<input wsam:Action="http://ws.provider.rlf.org/Provider/loginRequest" message="tns:login" />
<output wsam:Action="http://ws.provider.rlf.org/Provider/loginResponse" message="tns:loginResponse" />
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ws.provider.rlf.org/Provider/login/Fault/AuthException" />
<fault message="tns:ConnectionException" name="ConnectionException" wsam:Action="http://ws.provider.rlf.org/Provider/login/Fault/ConnectionException" />
</operation>
<operation name="logout">
<input wsam:Action="http://ws.provider.rlf.org/Provider/logoutRequest" message="tns:logout" />
<output wsam:Action="http://ws.provider.rlf.org/Provider/logoutResponse" message="tns:logoutResponse" />
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ws.provider.rlf.org/Provider/logout/Fault/AuthException" />
<fault message="tns:ConnectionException" name="ConnectionException" wsam:Action="http://ws.provider.rlf.org/Provider/logout/Fault/ConnectionException" />
</operation>
<operation name="takeTools">
<input wsam:Action="http://ws.provider.rlf.org/Provider/takeToolsRequest" message="tns:takeTools" />
<output wsam:Action="http://ws.provider.rlf.org/Provider/takeToolsResponse" message="tns:takeToolsResponse" />
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ws.provider.rlf.org/Provider/takeTools/Fault/AuthException" />
<fault message="tns:ConnectionException" name="ConnectionException" wsam:Action="http://ws.provider.rlf.org/Provider/takeTools/Fault/ConnectionException" />
<fault message="tns:ToolException" name="ToolException" wsam:Action="http://ws.provider.rlf.org/Provider/takeTools/Fault/ToolException" />
<fault message="tns:FormatException" name="FormatException" wsam:Action="http://ws.provider.rlf.org/Provider/takeTools/Fault/FormatException" />
</operation>
<operation name="describeTools">
<input wsam:Action="http://ws.provider.rlf.org/Provider/describeToolsRequest" message="tns:describeTools" />
<output wsam:Action="http://ws.provider.rlf.org/Provider/describeToolsResponse" message="tns:describeToolsResponse" />
<fault message="tns:ConnectionException" name="ConnectionException" wsam:Action="http://ws.provider.rlf.org/Provider/describeTools/Fault/ConnectionException" />
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://ws.provider.rlf.org/Provider/describeTools/Fault/AuthException" />
</operation>
</portType>
<binding name="ProviderPortBinding" type="tns:Provider">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal" />
</fault>
<fault name="ConnectionException">
<soap:fault name="ConnectionException" use="literal" />
</fault>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal" />
</fault>
<fault name="ConnectionException">
<soap:fault name="ConnectionException" use="literal" />
</fault>
</operation>
<operation name="logout">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal" />
</fault>
<fault name="ConnectionException">
<soap:fault name="ConnectionException" use="literal" />
</fault>
</operation>
<operation name="takeTools">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal" />
</fault>
<fault name="ConnectionException">
<soap:fault name="ConnectionException" use="literal" />
</fault>
<fault name="ToolException">
<soap:fault name="ToolException" use="literal" />
</fault>
<fault name="FormatException">
<soap:fault name="FormatException" use="literal" />
</fault>
</operation>
<operation name="describeTools">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ConnectionException">
<soap:fault name="ConnectionException" use="literal" />
</fault>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal" />
</fault>
</operation>
</binding>
<service name="Provider">
<port name="ProviderPort" binding="tns:ProviderPortBinding">
<soap:address location="http://localhost:8084/RLF/Provider" />
</port>
</service>
</definitions>